<!DOCTYPE html>
<html>

<head>
    <title>Create Task</title>
</head>

<body>
    <h1>Create Task</h1>
    <form method="POST">
        <input type="text" name="title" placeholder="Title" required>
        <input type="text" name="description" placeholder="Description" required>
        <input type="text" name="status" placeholder="Status" required>
        <input type="date" name="due_date" placeholder="Due Date (YYYY-MM-DD)" required>
        <!-- <input type="text" name="user_name" placeholder="User Name" required> -->
        <button type="submit">Create</button>
    </form>
</body>

</html>