<!DOCTYPE html>
<html>

<head>
    <title>Edit Task</title>
</head>

<body>
    <h1>Edit Task</h1>
    <form method="POST">
        <input type="text" name="title" placeholder="Title" value="{{ task.title }}" required>
        <input type="text" name="description" placeholder="Description" value="{{ task.description }}" required>
        <input type="text" name="status" placeholder="Status" value="{{ task.status }}" required>
        <!-- <input type="text" name="due_date" placeholder="Due Date (YYYY-MM-DD)" value="{{ task.due_date }}" required> -->
        <input type="date" name="due_date" value="{{ task.due_date }}" required>
        <button type="submit">Update</button>
    </form>
</body>

</html>